<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/commons :: head">
        <!-- Adicione outros elementos <head> aqui, se necessário -->
    </head>
    <body>
        <header th:replace="fragments/commons :: headerLog"></header>

        <div class="form-container">
            <h1>Cadastrar <br> Suplementos</h1>
            <form th:object="${suplemento}" method="post" th:action="@{/docadastrarSuplemento}">
                <input type="hidden" th:field="*{id}" />
                
                <label for="Nome">Título</label>
                <input type="text" th:field="*{nome}" id="Nome" placeholder="Digite o título do suplemento" />
                
                <label for="preco">Preço</label>
                <input type="number" th:field="*{preco}" id="preco" placeholder="Digite o preço" />
                
                <label for="descricao">Descrição</label>
                <input type="text" id="descricao" th:field="*{descricao}" placeholder="Digite a descrição" />
                
                <!-- <input type="hidden" th:field="*{imageUri}" />
                 -->
                <label for="categoria">Categoria</label>
                <select id="categoria" th:field="*{categoria}">
                    <option value="">Selecione uma categoria</option>
                    <option value="Proteínas">Proteínas</option>
                    <option value="Vitaminas">Vitaminas</option>
                    <option value="Minerais">Minerais</option>
                </select>
                
                <br>
                <button type="submit">Cadastrar</button>
            </form>
        </div>

        <footer th:replace="fragments/commons :: footer"></footer>  
    </body>
</html>
