<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/commons :: head}">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <header th:replace="~{fragments/commons :: headerLog}"></header>

        
            <!-- Navbar-->
            <nav th:replace="~{fragments/commons :: nav}"/>
            <div class="container mt-4">
                <h1 class="text-center mb-4">Suplementos</h1>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Imagem</th>
                            <th>Nome</th>
                            <th>Preço</th>
                            <th>Editar</th>
                            <th>Remover</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="suplemento : ${suplementos}">
                            <td>
                                <img th:src="@{'/images/' + ${suplemento.imageUri}}" alt="Imagem do produto" class="img-fluid" style="max-width: 100px; height: auto;">
                            </td>
                            <td th:text="${suplemento.nome}"></td>
                            <td th:text="${suplemento.preco}"></td>
                            <td>
                                <a th:href="@{'/editar/' + ${suplemento.id}}" class="btn btn-danger btn-sm">Editar</a>
                            </td>
                            <td>
                                <a th:href="@{'/deletar/' + ${suplemento.id}}" class="btn btn-danger btn-sm">Deletar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <footer th:replace="~{/fragments/commons :: footer}"></footer>  
    </body>
</html>