<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/commons :: head}"></head>
    <body>
        <header th:replace="~{fragments/commons :: headerLog}"></header>

        
            <!-- Navbar-->
            <nav th:replace="~{fragments/commons :: nav}"/>
        
        
            <div th:replace="~{fragments/commons :: pint}"/>

            <!-- SUPLEMENTAÇÃO  -->
            <div class="section">
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">

                        <!-- section title -->
                        <div class="col-md-12">
                            <div class="section-title">
                                <h3 class="title">SUPLEMENTAÇÃO</h3>
                                <div class="section-nav">
                                    <ul class="section-tab-nav tab-nav">
                                        <li class="active"><a data-toggle="tab" href="#tab1">Proteínas</a></li>
                                        <li><a data-toggle="tab" href="#tab1">Vitaminas</a></li>
                                        <li><a data-toggle="tab" href="#tab1">Minerais</a></li>
                                        <li><a data-toggle="tab" href="#tab1">Pré-Treinos</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /section title -->

                        <!-- Products tab & slick -->
                        <div th:replace="~{fragments/commons :: cards}"/>
                        <!-- Products tab & slick -->
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>
            <div th:replace="~{fragments/commons :: pint}"/>
                <!-- TOP SUPLEMENTOS -->
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title">
                                <h3 class="title">TOP SUPLEMENTOS</h3>
                                <div class="section-nav">
                                    <ul class="section-tab-nav tab-nav">
                                        <li class="active"><a data-toggle="tab" href="#tab2">Proteínas</a></li>
                                        <li><a data-toggle="tab" href="#tab2">Vitaminas</a></li>
                                        <li><a data-toggle="tab" href="#tab2">Minerais</a></li>
                                        <li><a data-toggle="tab" href="#tab2">Pré-Treinos</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>  
                        <div th:replace="~{fragments/commons :: cards}"/>
                    </div>
                </div>
            </div>  
                <footer th:replace="~{/fragments/commons :: footer}"></footer>  
        </body>
    </html>