<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/commons :: head}">
        <!-- Meta tags, CSS, etc. -->
    </head>
    <body>
        <header th:replace="~{fragments/commons :: headerLog}"></header>
        <br>
        <br>
        <h3 th:text="*{msg}" style="text-align: center; color: green;"></h3>
        <div class="form-container" style="height: 450px;">
            <h1>Login</h1>
            <form  method="post" th:action="@{/login}">           
                <label for="email">E-mail</label>
                <input type="email"  id="email" placeholder="Digite o e-mail" name="username" />
                
                <label for="password">Senha</label>
                <input type="password" id="password" placeholder="Digite a senha" name="password" />
                <br> 
                <div >
                    <a th:href="@{/cadastroUser}" >Cadastrar-se</a>
                    <button type="submit" style="width: 50%; margin-top: 20px;">Enviar</button>
                </div>
                
            </form>
        </div>

        <footer th:replace="~{fragments/commons :: footer}"></footer>  
    </body>
</html>
