<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/commons :: head}">
        <!-- Certifique-se de que os recursos no fragmento head estão usando URLs absolutos -->
    </head>
    <body>
        <header th:replace="~{fragments/commons :: headerLog}"></header>

        <!-- Navbar-->
        <nav th:replace="~{fragments/commons :: nav}"></nav>

		<div th:replace="~{fragments/commons :: pint}"/>

        <div class="section" style="margin-top:50px;">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row" th:object="${suplemento}">
					<!-- Product main img -->
					<div class="col-md-4 col-md-push-2" style="margin-right: 250px;">
						<div id="product-main-img" class="slick-initialized slick-slider"><button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="display: none;">Previous</button>
							<img th:src="@{'/images/' + ${suplemento.imageUri}}" alt="" width="300px">
							

							
						<button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: none;">Next</button></div>
					</div>
					<!-- /Product main img -->

					
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name" th:text="*{nome}"></h2>
							<div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
							</div>
							<div style="margin-top:20px;">
								<h3 class="product-price" th:text="'$' + *{preco}"><del class="product-old-price" th:text="ola"></del></h3>
								<span class="product-available">Em estoque</span>
							</div>
							<p style="margin-top:30px;" th:text="*{descricao}"> </p>
							
							<div class="add-to-cart" style="margin-top: 70px;">
								<form id="adicionar" th:action="@{'/adicionarAoCarrinho/' +${suplemento.id}}" method="post">
									<input type="hidden" name="id" id="id" value="${suplemento.id}">
									<button type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> adicionar</button>
								</form>
							</div>
						</div>
					</div>
					<!-- /Product details -->

					<!-- Product tab -->
					<div class="col-md-12">
						<div id="product-tab">
							<!-- product tab nav -->
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1" aria-expanded="true">Descrição</a></li>
							</ul>
							<!-- /product tab nav -->

							<!-- product tab content -->
							<div class="tab-content">
								<!-- tab1  -->
								<div id="tab1" class="tab-pane fade active in">
									<div class="row">
										<div class="col-md-12">
											<p style="margin-top:30px;" th:text="*{descricao}"> </p>
										</div>
									</div>
								</div>
								<!-- /tab1  -->

							</div>
							<!-- /product tab content  -->
						</div>
					</div>
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>


        <!-- SUPLEMENTOS -->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h3 class="title">TOP SUPLEMENTOS</h3>
                            <div class="section-nav">
                                <ul class="section-tab-nav tab-nav">
                                    <li class="active"><a data-toggle="tab" href="#tab2">Proteínas</a></li>
                                    <li><a data-toggle="tab" href="#tab2">Vitaminas</a></li>
                                    <li><a data-toggle="tab" href="#tab2">Minerais</a></li>
                                    <li><a data-toggle="tab" href="#tab2">Pré-Treinos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div th:replace="~{fragments/commons :: cards}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="~{fragments/commons :: pint}"></div>

        <footer th:replace="~{fragments/commons :: footer}"></footer>
    </body>
</html>
