<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    
        <!-- Usando caminhos absolutos com Thymeleaf -->
        <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link type="text/css" rel="stylesheet" th:href="@{/css/slick.css}"/>
        <link type="text/css" rel="stylesheet" th:href="@{/css/slick-theme.css}"/>
        <link type="text/css" rel="stylesheet" th:href="@{/css/styleP.css}"/>
        <link type="text/css" rel="stylesheet" th:href="@{/css/nouislider.min.css}"/>
        <link type="text/css" rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
        <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
    
        <title>Pump Suplementos</title>
    </head>
    
    <body>
            <header th:fragment="x">
                <!-- TOP HEADER -->
                <div id="top-header">
                    <div class="container">
                        <ul class="header-links pull-right">
                            <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /TOP HEADER -->

                <!-- MAIN HEADER -->
                
                <!-- /MAIN HEADER -->
            </header>

            <header th:fragment="headerLog">
                <!-- TOP HEADER -->
                <div id="top-header">
                    <div class="container">
                        <ul class="header-links pull-left">
                            <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
                            <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
                        </ul>
                        <ul class="header-links pull-right">
                            <li><a href="#"><i class="fa fa-user-o"></i> Fellipe</a></li>
                            <li><a href="#"><i class="fa fa-sign-out"></i> Sair</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /TOP HEADER -->
            
                <!-- MAIN HEADER -->
                <div id="header">
                    <div class="container">
                        <div class="row">
                            <!-- LOGO -->
                            <div class="col-md-3">
                                <!-- Logo content -->
                            </div>
                            <!-- /LOGO -->
            
                            <!-- SEARCH BAR -->
                            <div class="col-md-6">
                                <!-- Search bar content -->
                            </div>
                            <!-- /SEARCH BAR -->
            
                            <!-- ACCOUNT -->
                            <div class="col-md-3 clearfix">
                                <div class="header-ctn">
                                    <!-- Wishlist -->
                                    <div>
                                        <a href="#">
                                            <i class="fa fa-heart-o"></i>
                                            <span>Favoritos</span>
                                            <div class="qty">2</div>
                                        </a>
                                    </div>
                                    <!-- /Wishlist -->
            
                                    <!-- Cart -->
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>Carrinho</span>
                                            <div class="qty" th:text="${totalItens != null ? totalItens : 0}"></div>
                                        </a>
                                        <div class="cart-dropdown">
                                            <div class="cart-list">
                                                <div th:if="${carrinho != null and !carrinho.isEmpty()}">
                                                    <div th:each="item : ${carrinho.values()}" class="product-widget">
                                                        <div class="product-img">
                                                            <img th:src="@{'/images/' + ${item.suplemento.imageUri}}" alt="" width="20">
                                                        </div>
                                                        <div class="product-body">
                                                            <h3 class="product-name">
                                                                <a th:href="@{'/produto/'+${item.suplemento.id}}" th:text="${item.suplemento.nome}"></a>
                                                            </h3>
                                                            <h4 class="product-price">
                                                                <span class="qty" th:text="'$' + ${item.suplemento.preco}"></span><br>
                                                            </h4>
                                                            <span class="qty" th:text="'QTD: ' + ${item.quantidade}" style="font-size: 10px; margin-top: -10px;"></span>
                                                            
                                                        </div>
                                                        <form th:action="@{'/removerDoCarrinho/' + ${item.suplemento.id}}" method="post" style="position: absolute; top: -5px; right: auto;">
                                                            <button type="submit" class="fa fa-close" style="background-color: transparent; border: none;"></button>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div th:if="${carrinho == null or carrinho.isEmpty()}">
                                                    <p>Seu carrinho está vazio.</p>
                                                </div>
                                            </div>
                                            <div class="cart-summary">
                                                <small th:text="${totalItens != null ? totalItens + ' Item(s) selecionado(s)' : '0 Item(s) selecionado(s)'}"></small>
                                                <h5 th:text="${subtotal != null ? 'SUBTOTAL: $' + subtotal : 'SUBTOTAL: $0.00'}"></h5>
                                            </div>
                                            <div class="cart-btns" style="display: flex; align-items: center; gap: 10px; white-space: nowrap;">
                                                <a 
                                                    th:href="@{/carrinho}" 
                                                    th:if="${carrinho != null and !carrinho.isEmpty()}" 
                                                    style="
                                                    
                                                        font-size: 14px; 
                                                        display: inline-block; 
                                                        width: 150px; 
                                                        text-align: center; "
                                                >
                                                    Ver carrinho
                                                </a>
                                                <form 
                                                    th:action="@{/finalizarCompra}" 
                                                    method="post" 
                                                    th:if="${carrinho != null and !carrinho.isEmpty()}" 
                                                    style="display: inline-block; margin: 0;"
                                                >
                                                    <button 
                                                        type="submit" 
                                                        style="
                                                            font-weight: 700;
                                                            background-color: #D10024; 
                                                            border: none; 
                                                            color: white; 
                                                            width: 150px; 
                                                            padding: 12px; 
                                                            text-align: center; 
                                                            margin-top: 10px;
                                                            cursor: pointer; 
                                                            display: flex; 
                                                            align-items: center; 
                                                            justify-content: center; 
                                                            margin-top: 15px;
                                                            box-shadow: 0 2px 4px rgba(0,0,0,0.1);"
                                                    >
                                                        <span>Finalizar <i class="fa fa-arrow-circle-right"></i></span>
                                                    </button>
                                                </form>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- /Cart -->
            
                                    <!-- Menu Toggle -->
                                    <div class="menu-toggle">
                                        <a href="#">
                                            <i class="fa fa-bars"></i>
                                            <span>Menu</span>
                                        </a>
                                    </div>
                                    <!-- /Menu Toggle -->
                                </div>
                            </div>
                            <!-- /ACCOUNT -->
                        </div>
                    </div>
                </div>
                <!-- /MAIN HEADER -->
            </header>
            
            
            <!-- fragmento de mensagem que não está funfando -->
            <!-- <div class="mensagem" th:fragment="msg">
                <div th:if="${msg != null}" class="alert alert-info alert-dismissible fade show" role="alert" style="position: fixed; top: 10px; right: 10px; z-index: 1000;">
                    <span th:text="${msg}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            
             -->

             <nav id="navigation" th:fragment="nav">
                <!-- container -->
                <div class="container">
                    <!-- responsive-nav -->
                    <div id="responsive-nav">
                        <!-- NAV -->
                        <ul class="main-nav nav navbar-nav">
                            <li><a th:href="@{/}">Home</a></li>
                            <li><a th:href="@{/carrinho}">Carrinho</a></li>
                            <li><a th:href="@{/cadastro}">Adicionar Produto</a></li>
                            <li><a th:href="@{/admin}">Produtos</a></li>
                            <li><a th:href="@{/}">Sair</a></li>
                        </ul>
                        <!-- /NAV -->
                    </div>
                    <!-- /responsive-nav -->
                </div>
                <!-- /container -->
            </nav>
            <div class="section" th:fragment="pint">
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <!-- shop -->
                        <div class="col-md-4 col-xs-6">
                            <div class="shop">
                                <div class="shop-img">
                                    <img src="" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <div class="shop">
                                <div class="shop-img">
                                    <img src="" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <div class="shop">
                                <div class="shop-img">
                                    <img src="" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>

            <div class="div" th:fragment="cards">
                <div class="col-md-12">
                    <div class="row">
                        <div class="products-tabs">
                            <!-- tab -->
                            <div id="tab1" class="tab-pane active">
                                <div class="products-slick slick-initialized slick-slider" data-nav="#slick-nav-1">
                                    <!-- product -->
                                    <div  th:each="suplemento : ${suplementos}"  class="product slick-slide slick-active" data-slick-index="3" aria-hidden="false" tabindex="0" style="width: 213px;">
                                        <div class="product-img">
                                            <img th:src="@{'/images/' + ${suplemento.imageUri}}" alt="">
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category" th:text="${suplemento.categoria}"></p>
                                            <h3 class="product-name" ><a th:href="@{'/produto/'+${suplemento.id}}" th:text="${suplemento.nome}"></a></h3>
                                            <h4 class="product-price" th:text="'$' + ${suplemento.preco}"></h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <form id="adicionar" th:action="@{'/adicionarAoCarrinho/' +${suplemento.id}}" method="post">
                                                <input type="hidden" name="id" id="id" value="${suplemento.id}">
                                                <button type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> adicionar</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div id="slick-nav-1" class="products-slick-nav"><button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="display: inline-block;">Previous</button><button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: inline-block;">Next</button></div>
                                </div>
                            </div>
                            <!-- /tab -->
                        </div>
                    </div>
                </div>
            </div>

            <footer id="footer" th:fragment="footer">
                <!-- top footer -->
                <div class="section">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">
                            <div class="col-md-3 col-xs-6">
                                <div class="footer">
                                    <h3 class="footer-title">Sobre Nós</h3>
                                    <p>Conheça a Pump Suplementos, sua loja de confiança para todos os tipos de suplementos esportivos e nutrição. Oferecemos produtos de alta qualidade para ajudar você a alcançar seus objetivos.</p>
                                    <ul class="footer-links">
                                        <li><a href="#"><i class="fa fa-map-marker"></i>Av. Principal, 123</a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i>+55 11 98765-4321</a></li>
                                        <li><a href="#"><i class="fa fa-envelope-o"></i>contato@pumpsuplementos.com.br</a></li>
                                    </ul>
                                </div>
                            </div>
            
                            <div class="col-md-3 col-xs-6">
                                <div class="footer">
                                    <h3 class="footer-title">Categorias</h3>
                                    <ul class="footer-links">
                                        <li><a href="#">Proteínas</a></li>
                                        <li><a href="#">Aminoácidos</a></li>
                                        <li><a href="#">Pré-treinos</a></li>
                                        <li><a href="#">Vitaminas e Minerais</a></li>
                                        <li><a href="#">Creatina</a></li>
                                    </ul>
                                </div>
                            </div>
            
                            <div class="clearfix visible-xs"></div>
            
                            <div class="col-md-3 col-xs-6">
                                <div class="footer">
                                    <h3 class="footer-title">Informações</h3>
                                    <ul class="footer-links">
                                        <li><a href="#">Sobre Nós</a></li>
                                        <li><a href="#">Contato</a></li>
                                        <li><a href="#">Política de Privacidade</a></li>
                                        <li><a href="#">Trocas e Devoluções</a></li>
                                        <li><a href="#">Termos e Condições</a></li>
                                    </ul>
                                </div>
                            </div>
            
                            <div class="col-md-3 col-xs-6">
                                <div class="footer">
                                    <h3 class="footer-title">Serviços</h3>
                                    <ul class="footer-links">
                                        <li><a href="#">Minha Conta</a></li>
                                        <li><a href="#">Ver Carrinho</a></li>
                                        <li><a href="#">Lista de Desejos</a></li>
                                        <li><a href="#">Rastrear Pedido</a></li>
                                        <li><a href="#">Ajuda</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /container -->
                </div>
                <!-- /top footer -->
            
                <!-- bottom footer -->
                <div id="bottom-footer" class="section">
                    <div class="container">
                        <!-- row -->
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <ul class="footer-payments">
                                    <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                                    <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                                    <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                                    <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                                    <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                                    <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                                </ul>
                                <span class="copyright">
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos os direitos reservados | Este template é feito com <i class="fa fa-heart-o" aria-hidden="true"></i> por Fellipe e João Vitor
                                </span>
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /container -->
                </div>
                <!-- /bottom footer -->
            
                <script th:src="@{/js/jquery.min.js}"></script>
                <script th:src="@{/js/bootstrap.min.js}"></script>
                <script th:src="@{/js/slick.min.js}"></script>
                <script th:src="@{/js/nouislider.min.js}"></script>
                <script th:src="@{/js/jquery.zoom.min.js}"></script>
                <script th:src="@{/js/main.js}"></script>
            </footer>
                    
    </body>
</html>